# this example of .env
NODE_ENV=development/production
PORT=3000 //Preset to 3000
#set database and API connections
DB_USERNAME={{Your_DB_Username}}
DB_PASSWORD={{Your_DB_Password}}
DB_LOCATION={{Your_DB_Location}}
DB_TABLE={{Your_DB_Table}}