<header><h1>Login Portal</h1></header>

<main>
    <div class="login-flex"></div>
        <h1>Dashboard</h1>
        <p> Welcome <%= user.name %></p>
        <a href="/users/logout">Logout</a>
        </div>
</main>