<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login Portal</title>
      <link rel="stylesheet" type="text/css"  href="/public/css/style.css" />
   </head>

<body>


<main>
   <div class="login-flex">
      <h2><a href="/users/login">Login</a></h2>
      <p>Aleardy have an account? Sign-in Now!</p>
   </div>
   <div class="login-flex">
      <h2><a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a></h2>
      <p>Register now to gain access to everything on this website   </p>
   </div>
   
</main>

</body>
</html>